* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
 
body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
 
}
 
.container {
    width: 60%;
    height: 60%;
    background-color: salmon;
    display: flex;
    align-items:center;
    flex-direction: column;
    padding: 20px;
    border-radius: 20px;
}
.container * {
    margin: 8px;
}